*
{
    padding: 0;
    margin: 0;
}

header
{
    padding-top: 30px;
}

.menu
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

a
{
    color: #ffffff;
    text-decoration: none;
    font: 700 20px/28px 'Play', san-serif;
}

.button_sign
{
    width: 200px;
    height: 50px;
    background-color: #D88948;
    border: none;
    padding: 5px;
    border-radius: 15px;
    color: #000;
    font: 700 18px/28px 'Play', san-serif;
    cursor: pointer;
}

.main
{
    width: 90%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.main-text
{
    width: 50%;
    color:#ffffff;
    font: 700 24px/28px 'Play', san-serif;
    margin-right: 40px;
}

li
{
    margin-top: 15px;
    font-size: 26px;
}

.main-image
{
    width: 600px;
    opacity: .6;
    float: right;
    border-radius: 15px;
}

.main-title
{
    margin-top: 90px;
    color: #ffffff;
    text-align: center;
    font: 900 40px/28px 'Play', san-serif;
    text-shadow: #000;
}

#stars 
{   
    width:100%;
    background:rgb(39, 39, 39);
    background-attachment: fixed;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -999;
    position: absolute;
}